COMPOSE_PROJECT_NAME=microservicios

POSTGRES_PORT=5432
POSTGRES_USER=micro
POSTGRES_PASSWORD=pg_password
CLIENTES_DB=clientes
CUENTAS_DB=cuentas

RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=micro
RABBITMQ_PASSWORD=rabbitmq_password